@mixin result-font {
    font-size: 36rpx;
    font-family: 黑体;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 70rpx;
    padding-right: 70rpx;
}

.result {
    .content {
        padding-top: 160rpx;
        padding-left: 30rpx;
        padding-right: 30rpx;
        .person-info {
            &>.desc {
                font-size: 40rpx;
                font-family: 黑体;
                font-weight: bold;
                color: #fff;
                margin-bottom: 8rpx;
            }
        }

        .norm {
            font-size: 30rpx;
            font-family: 黑体;
            color: #fff;
            width: 96rpx;
        }

        .result-text-percent {
            @include result-font();
            bottom: 112rpx;
        }

        .result-percent {
            @include result-font();
            bottom: 184rpx;
        }

        .result-age {
            @include result-font();
            bottom: 460rpx;
        }

        .result-grade {
            @include result-font();
            bottom: 320rpx;
        }
    }
}