.recording {
    .content {
        padding-bottom: 615rpx;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;

        .record-content {
            height: 610rpx;
            background-color: rgba(255,255,255, 0.1);
            border-radius: 8rpx;
            width: 610rpx;
            position: relative;

            .record-texts {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: stretch;
                color: #ebd74a;
                top: 140rpx;
                bottom: 140rpx;
                right: 70rpx;
                left: 70rpx;
                .record-text{
                    font-size: 74rpx;
                    font-family: 黑体;
                    font-weight: 500;
                }
            }
        }
    }

    .recording-btn {
        position: fixed;
        bottom: 350rpx;
        left: 255rpx;
        z-index: 1000;
        width: 242rpx;
        height: 90rpx;
    }
}